@import url(normalize.css);

.header{
    background: #ffffff;
    width: 100%;
    overflow: hidden;

}
.header nav ul{
    list-style: none;
    width: 100%;
}

.logo img{
    position: relative;
    width: 20%;
    float: left;
}
.menu{

    float: right;
    display: inline-block;
}
.menu li a{
    display: block;
    text-decoration: none;
}